<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MMContest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="crmContext" connectionString="Data Source=MISSPIGGY_OLD;Initial Catalog=RoyaleCRM_2011;Persist Security Info=True;User ID=sa;Password=M0d3rn!234;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <MMContest.Properties.Settings>
      <setting name="FriendBallotLimit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ContestId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WebApiUri" serializeAs="String">
        <value>http://webapi.dev.modernmedia.ca</value>
      </setting>
      <setting name="BallotSource" serializeAs="String">
        <value>microsite</value>
      </setting>
      <setting name="ClientName" serializeAs="String">
        <value>modernmedia</value>
      </setting>
    </MMContest.Properties.Settings>
  </applicationSettings>
</configuration>